.item_right{
	width: 100%;
	background-color: #efefef;
	margin-bottom: 20px;
	overflow-x: hidden;
	overflow-y: hidden;

}
.slider_items{
	width: 1350px;
	height: 260px;

}
.video_item{
	padding: 10px;
	padding-top: 0;	
	width: 260px;
	float: left;
	
}
.video_item_frame{
	height: 160px;
	width: 250px;

}
.descricao{
	margin-top: -10px;
}
.video_descricao{
	margin: 0;
	padding: 0;
	margin-top: 0px;

}

.descricao span{
	font-size: 13px;
}
.titulo_video{
	font-size: 18px;
	font-weight: bolder;
	color: #000;
	text-decoration: none;
}
