
		body{
			background-color: #ddd;

		}
		.formulario{
			width: 400px;
			height: 100%;
			
			background-color: red;
			transform: translateY(10%);
			padding: 30px;
			border-radius: 15px;
			background-color: white;
			margin: auto;


		}
		input[type=submit]{
			width: 100%;
			font-weight: bolder;
			font-size: 18px;
			padding: 8px;
		}
		.link{
			width: 100%;
			padding-top: 15px;
			text-decoration: none;
		}
		.link a{
			text-decoration: none;
			font-size: 18px;
		}
		.link a:hover{
			transition-duration: 1s;
			font-size: 20px;
		}