a:hover{
	text-decoration: none;
}
.topo{
	height: 40px;
	background-color: #ddd;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.topo ul{
	width: 90%;
	float: 0;
	padding: 0;
	margin: auto;
	list-style: none;
}
.topo ul li{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	height: 40px;
	line-height: 40px;
}
.caixa_pesquisa{
	min-width: 400px;
	margin-left: 100px;
	margin-right: 0;
	padding-left: 10px;
}
.form_item{
	height: 30px;
	line-height: 30px;
	border: 0;
	border-radius: 3px;
}
.logo{
	color: red;
	font-size: 20px;
	font-weight: bolder;
}
.btn_submit{
	height: 30px;
	border: 0;
	border-radius: 3px;
	background-color: white;
	line-height: 30px;
	width: 30px;
	cursor: pointer;
	margin-right: 0;
}
.p_login{
	color: red;
	font-size: 16px;
	font-weight: bolder;
}
.container_left{
	background-color: #ccc;
	width: 300px;
	position: fixed;
	top: 40px;
	left: 0;
	bottom: 0;

}
.container_left_item{
	margin-top: 30px;
	margin-left: 30px;

}
.container_left_item p{
	margin-bottom: 10px;
}
.container_left_item ul{
	list-style: none;
	padding: 5px;
}
.container_right{
	position: fixed;
	left: 300px;
	right: 0;
	top: 40px;
	height: 100%;
	padding: 20px;
	overflow: scroll;
}
.item_right{
	height: 260px;
	width: 100%;
	background-color: #efefef;
	margin-bottom: 20px;
	overflow-x: auto;
	overflow-y: hidden;

}
.video_item{
	padding: 10px;
	padding-top: 0;	
	width: 260px;
	float: left;
	
}
.slider_items{
	width: 1350px;
	height: 100%;

}
.video_item_frame{
	height: 160px;
	width: 250px;

}
.video_descricao{
	margin: 0;
	padding: 0;
	margin-top: 0px;

}
.descricao{
	margin-top: -10px;
}

.descricao span{
	font-size: 13px;
}
.titulo_video{
	font-size: 18px;
	font-weight: bolder;
	color: #000;
	text-decoration: none;
}
