a:hover{
	text-decoration: none;
}
.topo{
	height: 40px;
	background-color: #ddd;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.topo button{
	border-style: none;
	cursor: pointer;
	outline: 0;
}
.topo ul{
	width: 95%;
	float: 0;
	padding: 0;
	margin: auto;
	list-style: none;
}
.topo ul li{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	height: 40px;
	line-height: 40px;
}
#menuimg{
	width: 35px;
	height: 35px;
	margin-bottom: 5px;
	cursor: pointer;
}
.form_item{
	height: 30px;
	line-height: 30px;
	border: 0;
	
}
.caixa_pesquisa{
	min-width: 680px;
	margin-left: 50px;
	margin-right: 0;
	padding: 0;
	padding-left: 10px;
	height: 30px;
	background-color: #ddd;
}

.logo{
	color: red;
	font-size: 20px;
	font-weight: bolder;
}
.btn_submit{
	height: 30px;
	border: 0;
	background-color: #bbb;
	line-height: 25px;
	width: 60px;
	cursor: pointer;
	margin-right: 0;
	margin-left: -5px;
	padding: 0;
	border: 1px solid #000;
	background-image: url("/assets/images/search.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}
.p_login{
	color: red;
	font-size: 16px;
	font-weight: bolder;
}
.container_left{
	background-color: #ccc;
	width: 270px;
	position: fixed;
	top: 40px;
	left: 0;
	bottom: 0;


}
.container_left_item{
	margin-top: 15px;
	margin-left: 30px;

}
.container_left_item p{
	margin-bottom: 10px;
}
.container_left_item ul{
	list-style: none;
	padding: 5px;
}
.container_right{
	position: fixed;
	left: 270px;
	right: 0;
	top: 40px;
	height: 100%;
	padding: 20px;
	overflow: scroll;	
}

.categoria_item{
	width: 100%;
	height: 35px;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 30px;
	font-weight: bolder;
	margin-left: -10px;
	border: 1px solid #999;
	padding-top: 2px;
	padding-left: 8px;

}


.categoria_item img{
	float: left;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	margin-right: 10px;
}

@media only screen and (max-width: 1200px){
	.caixa_pesquisa{
		min-width: 600px;
	}
	
}

@media only screen and (max-width: 1100px){
	.caixa_pesquisa{
		min-width: 500px;
	}
	
}

@media only screen and (max-width: 1000px){
	.caixa_pesquisa{
		min-width: 400px;
	}
	
}

@media only screen and (max-width: 900px){
	.caixa_pesquisa{
		min-width: 350px;
	}
	
}

@media only screen and (max-width: 800px){
	#container_left,
	#menuimg{
		display: none;
	}
	.caixa_pesquisa{
		margin-left: 0;
		min-width: auto;
	}
	#container_right{
		left: 0;
	}
}
@media only screen and (max-width: 600px){
	.topo{
		height: 200px;
		margin-top: -40px;
	}
	.topo ul li{
		width: 100%;
		float: left;
	}
	li:nth-child(4),
	li:nth-child(5){
		padding-left: 20px;
	}
	.container_right{
		top: 160px;
	}

}


