a:hover{
	text-decoration: none;
}
.topo{
	height: 40px;
	background-color: #ddd;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.topo button{
	border-style: none;
	cursor: pointer;
	outline: 0;
}
.topo ul{
	width: 95%;
	float: 0;
	padding: 0;
	margin: auto;
	list-style: none;
}
.topo ul li{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	height: 40px;
	line-height: 40px;
}
#menuimg{
	width: 35px;
	
}
.caixa_pesquisa{
	min-width: 400px;
	margin-left: 100px;
	margin-right: 0;
	padding: 0;
	padding-left: 10px;
	height: 30px;
	background-color: #ddd;
}
.form_item{
	height: 30px;
	line-height: 30px;
	border: 0;
	
}
.logo{
	color: red;
	font-size: 20px;
	font-weight: bolder;
}
.btn_submit{
	height: 30px;
	border: 0;
	background-color: #bbb;
	line-height: 30px;
	width: 60px;
	cursor: pointer;
	margin-right: 0;
	margin-left: -5px;
	padding: 0;
	border: none;
}
.p_login{
	color: red;
	font-size: 16px;
	font-weight: bolder;
}
.container_left{
	background-color: #ccc;
	width: 270px;
	position: fixed;
	top: 40px;
	left: 0;
	bottom: 0;


}
.container_left_item{
	margin-top: 30px;
	margin-left: 30px;

}
.container_left_item p{
	margin-bottom: 10px;
}
.container_left_item ul{
	list-style: none;
	padding: 5px;
}
.container_right{
	position: fixed;
	left: 270px;
	right: 0;
	top: 40px;
	height: 100%;
	padding: 20px;
	overflow: scroll;	
}

.categoria_item{
	width: 100%;
	height: 30px;
	background-color: red;
	margin-top:5px;
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 30px;
	font-weight: bolder;
	margin-left: -10px;

}


.categoria_item img{
	float: left;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	margin-right: 10px;
}

