.banner{
	
	height: 270px;
	background-color: black;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}
.user_header{
	height: 100px;
	background-color: blue;
	line-height: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.user_header img{

	width: 70px;
	height: 70px;
	border-radius: 35px;
	float: left;
}
.user_info{
	background-color: green;
	height: 70px;
	float: left;
	line-height: 16px;
	font-size: 14px;
	padding-left: 15px;
}
.user_header button{
	float: right;
	background-color: red;
	font-size: 18px;
	font-weight: bolder;
	color: white;
	width: 150px;
	cursor: pointer;
	line-height: 37px;
	margin-right: 10px;
}
.container_videos{
	background-color: green;
	width: 100%;
	padding:20px;

}
.container_videos a:nth-child(1){
	float: right;
	font-size: 20px;
	
}
.container_videos {
	padding-top: 5px;
}
.container_videos h1{
	margin-bottom: 15px;
}
.video_item{
	height: 250px;
	width: 250px;
	float: left;
	margin: 5px;
}

.container_videos h5{
	padding: 0;
	margin: 0;
	font-size: 18px;
}

.container_videos p{
	padding: 0;
	margin: 0;
	font-size: 14px;
	margin-bottom: 3px;
}
.container_videos a{
	margin-right: 8px;
}


