.video_principal{
	width: 100%;
	height: 80%;
}

.video_principal video{
	background-color: black;
	width: 100%;
	height: 100%;

}
.video_secundario{
	width: 100%;
	height: 600px;
	background-color: green;
}
.secundario_right{
	width: 350px;
	
	background-color: blue;
	float: right;
}
.secundario_left{
	position: absolute;
	left: 20px;
	right: 370px;
	height: 400px;
	background-color: red;
	
}
.video_recomendado{
	width: 330px;
	height: 100px;
	background-color: gray;
	margin: 10px;
}
.video_recomendado video{
	height: 100px;
	width: 150px;
	background-color: black;
}
.video_recomendado_descricao{
	width: 170px;
	height: 100px;
	background-color: white;
	float: right;
}
.likes_box{
	background-color: blue;
	float: right;
}