.video_principal{
	width: 100%;
	height: 80%;
}

.video_principal video{
	background-color: black;
	width: 100%;
	height: 100%;

}
.video_descricao_box{
	border-bottom: 1px solid #ccc;
}
.video_secundario{
	width: 100%;
}
.secundario_right{
	width: 350px;
	float: right;
	background-color: #eee;
}
.secundario_left{
	position: absolute;
	left: 20px;
	right: 370px;
	
}
.video_recomendado{
	width: 330px;
	height: 100px;
	margin: 10px;
	
}
.video_recomendado img{
	height: 100px;
	width: 150px;
	background-color: black;
}
.video_recomendado_descricao{
	width: 170px;
	height: 100px;
	float: right;
}
.likes_box{
	float: right;
}
.autor_box{
	height: 50px;


}
.autor_box img{
	float: left;
	height: 50px;
	width: 50px;
	border-radius: 25px;

}
.autor_box pre{
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	overflow: hidden;
	line-height: 4px;
}
.autor_box button{
	float: right;
	background-color: red;
	padding: 5px;
	font-size: 18px;
	font-weight: bolder;
	color: white;
	width: 150px;
	cursor: pointer;

}
.descricao_texto{
	width: 100%;
	padding-left: 60px;
	padding-bottom: 20px;
	
}
.comentarios_box{
	width: 100%;


}
.comentario_item{
	width: 100%;
	height: 80px;
	margin-top:5px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	padding: 5px;


}


.comentario_item img{
	float: left;
	height: 35px;
	width: 35px;
	border-radius: 15px;

}
.comentario_autor{
	float: left;
	margin-left: 5px;
	font-weight: bold;
	font-size: 14px;
}

.comentario_texto{
	position: absolute;
	left: 40px;
	right: 100px;
	font-weight: normal;
	padding-left: 10px;
	height: 40px;
	
}

.likes_box{
	margin-right: 30px;
}
.caixa_comentario{
	width: 100%;
	margin-bottom: 25px;
	padding-bottom: 30px;
}
.caixa_comentario_img{
	float: left;
}

.caixa_comentario img{
	
	border-radius: 20px;
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

.caixa_comentario_textarea{
	position: absolute;
	left: 45px;
	right: 0px;
	float: left;
	
}

.caixa_comentario_textarea textarea{
	width: 100%;
	font-size: 16px;
	padding-left: 10px;
	border-radius: 3px;
	padding-bottom: 5px;
	padding-top: 5px;
	overflow-y: hidden;
	resize: none;
}
.caixa_comentario_textarea button{
	float: right;
	cursor: pointer;
	padding: 2px;
	width: 100px;
}
#likeImg,
#deslikeImg{
	width: 20px;
	cursor: pointer;
	margin-left: 20px;
	margin-right: 5px;
}

#likeImg{
	margin-bottom: 6px;
}
.comentarioDelete{
	float: right;
	margin-right: 12px;
}


@media only screen and (max-width: 950px){
	.secundario_left{
		position: relative !important;
		float: left !important;
		left: 0px !important;
		width: 100% !important;
	}
	.secundario_right{

		float: left !important;
		width: 100% !important;
	}
}